.card
{
    width:70px;
    height:34px;
}

.cardName
{
    width:70px;
    height:34px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
}

.selectedCard
{
    background-color: white;
}

.greenClickableCard
{
    background-color: white;
    border:#44ee66 2px solid;
}

.cardDisabled
{
    background-color: #996666;
}

.cardActionSelected
{
    background-color: white;
    border:#0066ff 2px solid;
    cursor: pointer;
}

.historyDivColumn
{
    height: 200px;
}

#historyScrollingDiv
{
    height:200px;
}

#supplyAreaDiv
{
    overflow: visible;
    clear:both;
    width:100%;
    padding:2px;
}

#playingAreaDiv
{
    overflow: visible;
    vertical-align:top;
    width:100%;
    padding:2px;
}

#playerAreaDiv
{
    vertical-align: top;
}

#handAreaDiv
{
    overflow: visible;
    width:100%;
    padding:2px;
}

#playersDiv
{
    clear:both;
    float:left;
    padding-bottom: 5px;
}

.handAreaTopRow
{
    float:left;
}

.handAreaTopRowLeft
{
    float:left;
    padding-top: 5px;
    padding-bottom: 5px;
}

.lobby
{
    width: auto;
    overflow: visible;
    padding-bottom: 0px;
}

.lobbyGameRooms
{
    width: auto;
    margin-right:10px;
}

.lobbyChatOuter
{
    float: none;
    vertical-align: baseline;
    width: auto;
    margin-right:10px;
}

.lobbyChatInner
{
    margin-right: 0px;
    margin-left: 0px;
}

.lobbyPlayers
{
    float: none;
    width: auto;
    padding-bottom:10px;
}

.label
{
    font-weight:bold;
}

.customCardsDeck
{
    height: auto;
    padding-right:10px;
}