.card
{
    background-color:#FFFFFF;
    width:70px;
    height:34px;
    border:black 2px solid;
    text-align:center;
    position:relative;
    border-radius:7px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    font-family:"Times New Roman", Times, serif;
    cursor: default;
}

.cardName
{
    width:70px;
    height:34px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
}

.clickableCard
{
    background-color:#FFFFFF;
    cursor: pointer;
}

.clickableCard:hover
{
    background-color:#66AAFF;
}

.greenClickableCard
{
    border:#44ee66 2px solid;
    cursor: pointer;
}

.cardDisabled
{
    background-color: #996666;
}

.cardAction
{
    background-color:#FFFFFF;
    cursor: pointer;
}

.cardAction:hover
{
    background-color:#66AAFF;
}

.cardActionSelected
{
    border:#0066ff 2px solid;
    cursor: pointer;
}

.cardRow
{
    font-size: 9px;
    padding-top: 1px;
}

.specialRow
{
    font-size: 9px;
    padding-top:2px;
    padding-left:4px;
    padding-right:4px;
    text-align:center;
}
.historyDivColumn
{
    height: 200px;
}

#historyScrollingDiv
{
    height:200px;
    overflow:auto;
}

#gameDiv
{
    width:99%;
}

#supplyAreaDiv
{
    clear:both;
    width:100%;
    padding:2px;
}

#cardActionDiv
{

}

#playingAreaDiv
{
    vertical-align:top;
    width:100%;
    padding:2px;
}

#playerAreaDiv
{
    vertical-align: top;
}

#handAreaDiv
{
    width:100%;
    padding:2px;
}

#playersDiv
{
    clear:both;
    float:left;
    padding-bottom: 5px;
}

.loadingDialog
{
    font-family:"Times New Roman", Times, serif;
}

.infoDialog
{
    font-family:"Times New Roman", Times, serif;
}

.cardActionDialog
{
    font-family:"Times New Roman", Times, serif;
}

.gameResults
{
    font-size:14px;
}

.gameResultsPlayerPointsLabel
{
    float:left;
    padding-right:5px;
}

.gameResultsPlayerPoints
{
    float:left;
    padding-right:10px;
}

.drawPileCard
{
    float: left;
    margin-right: 3px;
    background-color: #222222;
    width: 3px;
}

.discardPile
{
    background-color: #222222;
}

.handAreaTopRow
{
    float:left;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 35px;
}

.handAreaTopRowLeft
{
    float:left;
    padding-top: 5px;
    padding-bottom: 5px;
}

.gameInfoDialog
{
    font-family:"Times New Roman", Times, serif;
}

.playerStatsDialog
{
    font-family:"Times New Roman", Times, serif;
}

.gameInfoLabel
{
    text-align: right;
}

.cardColor
{
    padding: 0 .6ex 1px .5ex;
}

.lobby
{
    float:left;
}

.lobbyGameRooms
{
    clear:left;
    float:left;
    vertical-align:top;
    margin-right:10px;
}

.lobbyChatOuter
{
    float:left;
    vertical-align:top;
    margin-right:10px;
}

.lobbyChatInner
{
}

.lobbyPlayers
{
    float:left;
    vertical-align:top;
    padding-bottom:10px;
}

.label
{
    font-weight:bold;
}

.customCardsDeck
{
    float:left;
    padding-right:10px;
}